p{
    margin: none;
    padding: none;
}

.content_professeurs{
    background: #6F7DFB;
    height: 70vh;
    width: 100%;
}

.content_professeurs p {
    color: #090909;
    text-align: center;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.container_professeurs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70vh;

}

.container_professeurs .part_right {
    width: 50%;
}

.container_professeurs .part_left img {
    width: 50%;
}

.container_professeurs .part_right {
    width: 50%;
}

.container_professeurs .part_left button {
    padding: 12px 12px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #DA722C;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
    border: none;
}